
h2  {
  display: block;
    margin: 0px;
    margin: 0px;
    margin: 0px;
    margin-top: 3px;
    font-weight: regular;
    padding-left: 150px;
    padding-top: 0px;

}

h1 {
  padding-left: 150px
}
